/*=======body css=======*/
html,body {
	font-family: "Arial", "Helvetica", "Verdana", "sans-serif";
	font-size: 12px;
	width: 100%;
	height: 96%;
	margin: 0 auto;
	padding: 0
}
/*=======search css=======*/
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
li {
	list-style: none;
	margin: 0;
	padding: 0;
}
.om-panel {
	margin-left: 0px;
	margin-top: 5px;
}

#search-panel span.label {
	margin-left: 10px;
}

#search-panel .input-text {
	border: 1px solid #ddd;
	border-radius: 0;
	background: #fcfcfc;
	padding: 2px;
	height: 21px;
	font-size: 14px;
	vertical-align: middle;
	min-width: 100px; 
}
#search-panel span.om-combo,#search-panel span.om-calendar {
	vertical-align: middle;
}
input#navSearch {
	width: 135px;;
	height: 16px;
	margin-left: 2px;
	background: url("${ctx}/scripts/image/nav-search.png") no-repeat scroll
		0 0 #FFFFFF;
	padding-left: 20px;
	border: 1px solid #99A8BB;
	line-height: 16px;
}
.srch_line {
	display: block;
	margin: 5px;
	width: auto;
}
.srch_line ul {
	display: block;
}
.srch_line ul li {
	list-style-type: none;
	float: left;
	display: inline;
	margin: 3px;
}
/*=======form css=======*/
.input-text { 
	border: 1px solid #ddd;
	border-radius: 0;
	background: #fcfcfc;
	padding: 2px;
	height: 21px;
	font-size: 14px;
	vertical-align: middle;
	min-width: 100px; 
}

.input-text:focus {
	outline: none;
	background: #fff;
}

.input-combo {
	border: 1px solid #6D869E;
	height: 18px;
	vertical-align: middle;
	width: 223px;
}
.input-radio {
	border: 1px solid #6D869E;
	height: 18px;
	vertical-align: middle;
}
.area-text {
	margin: 0px;
	padding: 2px;
	background: #fcfcfc;
	border: 1px solid #ccc;
	height: 50px;
	width: 248px;
}
.color_red{
	color:red;
}
.button-css {
	width: 120px;
	height: 35px;
	margin-top: 10px;
	cursor: pointer;
	float: right;
	background-color: #00A1CB;
	border-color: #007998;
	color: white;
	text-shadow: 0 -1px 1px rgba(0, 40, 50, 0.35);
	border-radius: 3px;
}

.btn-def{
	cursor: pointer;
	min-width: 80px; 
	height: 30px;
	border-radius: 3px;
	background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #00b5e5), color-stop(100%, #008db2));
	background: -webkit-linear-gradient(top, #00b5e5, #008db2);
	background: -moz-linear-gradient(top, #00b5e5, #008db2);
	background: -o-linear-gradient(top, #00b5e5, #008db2);
	background: linear-gradient(top, #00b5e5, #008db2);
	background-color: #00a1cb;
	border: 0;
	color: white;
	text-shadow: 0 -1px 1px rgba(0, 40, 50, 0.35);
}

.btn_def:hover{ 
	background-color: #00a1cb;
}

select{
	margin: 0px;
	padding: 2px;
	background: #fcfcfc;
	border: 0px solid;
	height: 20px;
	line-height: 20px;
	vertical-align: top;
}
/*=======override om css=======*/
.om-dialog {
	font-family: "微软雅黑", Arial;
}
.om-dialog .om-widget-content {
	margin: 0;
	float: left;
	padding: 20px;
}
/*=======validate info  css=======*/
label.error,.errorMsg {
	background: #fff6bf url(/gtmc_wx/scripts/image/alert.png) center no-repeat;
	background-position: 5px 50%;
	text-align: left;
	line-height:100%;
	padding: 2px 20px 2px 25px;
	border: 1px solid #ffd324;
	display: none;
	width: 200px;
	margin-left: 10px;
}
